.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/assets/images/seattle.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navBar {
    position: absolute;
    left: 1%;
    top: 2%;
    list-style-type: none;
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Fjalla One', sans-serif;
}
.about:hover, .projects:hover, .contact:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
    cursor: pointer;
}
.hero h1 {
    /* Text styles */
    font-size: 60px;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 35px;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.hero .viewWork {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border-radius: 20px;
    transition: border-width 150ms ease-in-out;
}
.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    left: 49%;
    bottom: 15vh;
}

.arrow:hover {
    height: 2.2vw;
    width: 2.2vw;
    border-bottom-width: 5px;
    border-right-width: 5px;
    cursor: pointer;
}
.main-content {
    height: 1200px;
    background-color: #dde1e1;
}
.card {
    background-color: white;
    padding: 20px;
    width: 70%;
    align-content: center;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
                0 4px 8px 0 rgba(0,0,0,0.08);
}
@media screen and (max-width: 500px) {
    .card {
        margin: auto;
        width: 90%;
    }
}